{start_module, slave }.
{partition_time, 0 }.
{cookie,bench_cookie}.
{activity, async_ec }.
{generator_profile, random }.
{rw_ratio, 0.5 }.
{statistics_detail, debug }.
{generator_warmup, 12000 }.
{generator_duration,  		90000 }.
{generator_cooldown,  		12000 }.
{generator_nodes,         ['bench1@vincent-pc', 'bench2@vincent-pc', 'bench3@vincent-pc']	}.
{use_binary_subscriber_key, 	false}.
{n_generators_per_node, 	1 }.
{write_lock_type,		sticky_write}.
{table_nodes,         	 ['bench1@vincent-pc', 'bench2@vincent-pc', 'bench3@vincent-pc'] }.
{storage_type, 			ram_copies}.
{n_replicas,   			3 }.
{n_fragments,  			1}.
{n_subscribers,		        500 }.
{n_groups,     		        100}.
{n_servers,    		        20}.