{cookie,bench_cookie}.
{generator_profile,random}.
{statistics_detail,debug}.
{generator_warmup,120000}.
{generator_duration,  		900000}.
{generator_cooldown,  		120000}.
{generator_nodes,         	
 ['bench1@vincent-pc',
  'bench2@vincent-pc',
  'bench3@vincent-pc',
  'bench4@vincent-pc',
  'bench5@vincent-pc',
  'bench6@vincent-pc',
  'bench7@vincent-pc',
  'bench8@vincent-pc',
  'bench9@vincent-pc'
 ]}.
{use_binary_subscriber_key, 	false}.
{n_generators_per_node, 	2}.
{write_lock_type,		sticky_write}.
{table_nodes,         	
 ['bench1@vincent-pc',
  'bench2@vincent-pc',
  'bench3@vincent-pc',
  'bench4@vincent-pc',
  'bench5@vincent-pc',
  'bench6@vincent-pc',
  'bench7@vincent-pc',
  'bench8@vincent-pc',
  'bench9@vincent-pc'
 ]}.
{storage_type, 			ram_copies}.
{n_replicas,   			7}.
{n_fragments,  			100}.
{n_subscribers,		        500000}.
{n_groups,     		        100}.
{n_servers,    		        20}.
