{start_module, {{ start_module }} }.
{partition_time, {{ partition_time }} }.
{cookie,bench_cookie}.
{activity, {{ activity }} }.
{generator_profile, {{ generator_profile }} }.
{rw_ratio, {{ rw_ratio }} }.
{statistics_detail, {{ statistics_detail }} }.
{generator_warmup, {{generator_warmup}} }.
{generator_duration,  		{{generator_duration}} }.
{generator_cooldown,  		{{generator_cooldown}} }.
{generator_nodes,         {{ generator_nodes }}	}.
{use_binary_subscriber_key, 	false}.
{n_generators_per_node, 	{{ n_generators_per_node }} }.
{write_lock_type,		sticky_write}.
{table_nodes,         	 {{ table_nodes }} }.
{storage_type, 			ram_copies}.
{n_replicas,   			{{ n_replicas }} }.
{n_fragments,  			1}.
{n_subscribers,		        {{ n_subscribers }} }.
{n_groups,     		        100}.
{n_servers,    		        20}.
